<header>
  <h1>Billboard Hot 100 Song Scraper</h1>
  <h2>These songs are HOT HOT HOT!!!</h2>
</header>
{{!-- <div>
 <img src="assets/img/record.png">
</div> --}}
<div id="songs">
  <ul>
    {{#each songs}}
        <li>
          {{this.title}}
          {{!-- <form action="songs/update/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="launched" value="true">
          <button class="btn btn-sm btn-danger pull-right" id="next" type="submit">Next Song!</button>
          </form> --}}
        </li>
    {{/each}}
  </ul>
</div>

<div id="notes">
  <h2>Notes</h2>
  <ul>
    {{#each songs}}
      {{#if this.notes}}
        <li>
         {{this.notes}}
        </li>
     {{/if}}
    {{/each}}
  </ul>
</div>

